@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *)); /* .dark element and all its descendants */

@custom-variant supports-timeline-scroll {
  @supports (animation-timeline: scroll()) {
    @slot;
  }
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-heading);

  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  /* Extra */
  --color-highlight: var(--highlight);
  --color-highlight-foreground: var(--highlight-foreground);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-code: var(--code);
  --color-code-foreground: var(--code-foreground);
  --color-code-number: var(--code-number);
  --color-code-highlight: var(--code-highlight);

  --ease-snappy: cubic-bezier(0.2, 0.4, 0.1, 0.95);
}

:root {
  --radius: 0.875rem;

  --background: oklch(0.985 0 0); /* --color-neutral-50 */
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.97 0 0); /* --color-neutral-100 */
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.94 0 0); /* slightly lighter than --color-neutral-200 */
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Extra */
  --highlight: var(--color-rose-600);
  --highlight-foreground: var(--color-rose-50);
  --selection: var(--color-neutral-800);
  --selection-foreground: var(--color-neutral-200);
  --info: var(--color-blue-600);
  --info-foreground: var(--color-blue-50);
  --success: var(--color-green-600);
  --success-foreground: var(--color-green-50);
  --warning: var(--color-orange-600);
  --warning-foreground: var(--color-orange-50);
  --code: var(--color-neutral-50);
  --code-foreground: var(--color-neutral-800);
  --code-number: var(--color-neutral-400);
  --code-highlight: oklch(94% 0 0);
}

.dark {
  --background: oklch(0.17 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 5%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Extra */

  --highlight: var(--color-rose-400);
  --highlight-foreground: var(--color-rose-950);
  --selection: var(--color-neutral-200);
  --selection-foreground: var(--color-neutral-800);
  --info: var(--color-blue-400);
  --info-foreground: var(--color-blue-950);
  --success: var(--color-green-400);
  --success-foreground: var(--color-green-950);
  --warning: var(--color-orange-400);
  --warning-foreground: var(--color-orange-950);
  --code: var(--color-neutral-900);
  --code-foreground: var(--color-neutral-200);
  --code-number: var(--color-neutral-600);
  --code-highlight: oklch(26% 0 0);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background font-sans text-foreground antialiased;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  button {
    @apply cursor-pointer;
  }

  code {
    @apply font-mono;
  }

  ::selection {
    @apply bg-selection text-selection-foreground;
  }

  /* Custom scrollbar styling. Thanks @shadcn-ui */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--muted-foreground);
    border-radius: 6px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--muted-foreground) transparent;
  }

  [id] {
    @apply scroll-mt-24;
  }
}

@utility container {
  @apply mx-auto w-full max-w-2xl;
}

@utility container-padding-x {
  @apply px-6 lg:px-10;
}

@utility section-padding-y {
  @apply py-12 lg:py-20;
}

@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility link {
  @apply text-primary underline underline-offset-2 transition-all hover:text-highlight hover:underline-offset-3;
}

@utility trail-highlight {
  @apply after:inline after:text-highlight after:content-["\_"];
}

@utility heading {
  @apply font-mono font-medium lowercase;
}

@utility list-custom {
  @apply list-none;

  & > li {
    @apply list-highlight-item;
  }
}

@utility list-highlight-item {
  @apply relative pl-[1ch];

  &::before {
    @apply absolute left-0 text-highlight content-['\_'];
  }
}

@utility backdrop-grid {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
      linear-gradient(to right, var(--background) 2px, transparent 2px),
      linear-gradient(to bottom, var(--background) 2px, transparent 2px);
    opacity: 0.75;
    background-size: 4px 4px;
    pointer-events: none;
    z-index: -1;
    transform: translateZ(0);
  }
}

@utility inline-code {
  @apply rounded-sm border bg-muted/50 px-1.5 py-0.5 font-mono text-xs font-medium whitespace-pre-wrap text-code-foreground in-data-table-nowrap:whitespace-nowrap;
}

/* MDX Support */
@utility prose-no-margin {
  & > :first-child {
    @apply mt-0;
  }

  & > :last-child {
    @apply mb-0;
  }

  :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)),
  :where([data-rehype-pretty-code-figure]) {
    @apply my-4;
  }
}

@utility prose-custom {
  @apply prose-neutral dark:prose-invert;
  @apply prose-headings:scroll-m-24 prose-headings:font-medium prose-headings:tracking-tight prose-headings:text-balance;
  @apply prose-p:text-pretty;
  @apply prose-a:font-medium prose-a:wrap-break-word prose-a:link;
  @apply prose-code:inline-code prose-code:before:content-none prose-code:after:content-none;
  @apply prose-strong:font-medium;
  @apply prose-hr:border-border;
}

@layer components {
  [data-rehype-pretty-code-figure] {
    @apply relative my-[1.25em] rounded-xl bg-code text-code-foreground;

    pre {
      @apply no-scrollbar overflow-x-auto overflow-y-auto overscroll-x-contain overscroll-y-auto px-4 py-4 has-data-highlighted-line:px-0 has-data-line-numbers:px-0;
    }

    code {
      @apply w-full pr-(--code-padding-right,0) font-mono text-sm;
    }

    [data-line] {
      @apply py-0.5;
    }
  }

  [data-line] span {
    @apply text-(--shiki-light) dark:text-(--shiki-dark);
  }

  [data-rehype-pretty-code-title] {
    @apply flex items-center gap-3 border-b px-4 py-2.5 pe-10 text-sm text-muted-foreground group-data-[slot=collapsible]/collapsible:pe-20 [&_svg]:size-4 [&_svg]:shrink-0 [&_svg]:text-muted-foreground;
  }

  [data-line-numbers] {
    counter-reset: line;
  }

  [data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply sticky left-0 inline-block w-16 bg-code pe-6 text-right text-sm text-code-number;
  }

  [data-line-numbers] [data-highlighted-line][data-line]::before {
    @apply bg-code-highlight;
  }

  [data-highlighted-line] {
    @apply bg-code-highlight;
  }

  [data-fade-overlay] {
    @apply pointer-events-none absolute top-1 right-0 z-1 h-10 rounded-r-xl;

    width: var(--fade-width, 0px);
    background: linear-gradient(
      to right,
      transparent 0px,
      color-mix(in oklab, var(--fade-color, var(--background)) 20%, transparent) 8px,
      color-mix(in oklab, var(--fade-color, var(--background)) 50%, transparent) 24px,
      color-mix(in oklab, var(--fade-color, var(--background)) 80%, transparent) 32px,
      var(--fade-color, var(--background)) 48px
    );
  }
}
